* {
  cursor: pointer !important;
}
body {
  background-color: #161616 !important;
  overflow-x: hidden;
  background: url('http://dl.dropbox.com/u/57960869/Altiviaot/portafolio/fondo.png');
  background-repeat: repeat;
  padding-right: 0px !important;
  padding-left: 0px !important;
  min-width: 300px;
}
#logo h1 {
  font-family: 'chiller';
  font-size: 5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  padding-top: 10%;
}
.descripcion {
  color: white !important;
  margin-top: -2%;
  text-align: justify;
  margin-left: 0% !important;
}
.detalles {
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #161616;
  border-bottom: 1px solid #333333;
  border-left: 1px solid black;
  border-radius: 5px;
  border-right: 1px solid #333333;
  border-top: 1px solid black;
  font-size: 0.9em;
  height: auto;
  padding-bottom: 10%;
  text-align: center;
}
.detalles ul li {
  color: #bbbbbb;
}
.detalles span {
  padding-bottom: 15%;
  padding-top: 5%;
  margin-left: 7%;
}
.detalles span img {
  height: 82px;
  width: 82px;
}
.perfil {
  margin-bottom: 7%;
  margin-left: 5% !important;
  margin-top: 3%;
}
.circle {
    height: 12em;
    margin-top: -15%;
}
.detalles p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #bbbbbb;
}
.detalles strong {
  display: block;
  margin-top: 15px;
  line-height: 12px;
  color: white;
  font-weight: bold;
}
a:hover {
  color: #00c6ff;
  text-decoration: none !important;
}
a {
  color: #00a1cf;
  text-decoration: none !important;
}
#logo {
  border-bottom: 1px dotted #393939;
  border-top: 1px dotted #393939;
  padding-bottom: 1%;
  padding-left: 6%;
  padding-top: 1%;
}
#logo img {
  width: 100%;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
}
footer {
  color: white;
  margin-bottom: 2%;
  margin-top: 5%;
  text-align: center;
}
span {
  color: #f89c0b;
}
i.twitter {
  background-image: url('http://dl.dropbox.com/u/57960869/Altiviaot/portafolio/twitter.png');
  background-position: 52% 47%;
  background-repeat: no-repeat;
  background-size: 214%;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
}
i.github {
  background-image: url('https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/github.png');
  background-position: 52% 47%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 9px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
}
.fotoseccion img {
  height: 26em;
}
.carousel-control {
  margin-top: 18px !important;
}
.carousel-inner > .item > img {
  height: 28em;
}

div.img{
    border-radius: 50%;
    height: 9em;
    overflow: hidden;
    width: 8.9em;
}

section.proyecto{
  margin-left: 1.5% !important;
}

.accordion-group {
  border: 0 !important;
}

/* Responsive */

@media (max-width: 779px) {
  #contenido{
    padding-left: 2%;
    padding-right: 2%;
  }
}
