::-webkit-scrollbar { 
    width: 12px; 
} 
      
::-webkit-scrollbar-track { 
    -webkit-box-shadow: #000000; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
} 

::-webkit-scrollbar-track-piece { 
    background-color: #000; 
} 
      
::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #EB8A1D; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  
} 

::-webkit-scrollbar-thumb:window-inactive { 
    background: #EB8A1D; 
}

* {
    cursor: pointer !important;
}
body{
    background-color: #161616 !important;
    overflow-x: hidden;
    background: url('../img/fondo.png');
    background-repeat: repeat;
    padding-right: 0px !important;
    padding-left: 0px !important;
    min-width: 300px;
}
#logo h1{
    font-family: 'chiller';
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    padding-top: 10%;
}
.descripcion{
    color: #FFF !important;
    margin-top: -2%;
    text-align: justify;
    margin-left: 0% !important;
}
.detalles{
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #161616;
    border-bottom: 1px solid #333;
    border-left: 1px solid black;
    border-radius: 5px;
    border-right: 1px solid #333;
    border-top: 1px solid black;
    font-size: 0.9em;
    height: auto;
    margin-left: 5% !important;
}
.detalles ul li{
    color: #BBB;
}
.detalles span{
    padding-bottom: 15%;
    padding-top: 5%;
    margin-left: 7%;
}
.detalles span img{
    height: 82px;
    width: 82px;
}
.perfil{
    margin-bottom: 7%;
    margin-left: 0px !important;
}
.info{
    margin-top: -23%; 
    padding-left: 7em !important;
}
.circle{
    border-radius: 40px;
}
.detalles p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: #BBB;
}
.detalles strong {
    display: block;
    margin-top: 15px;
    line-height: 12px;
    color: white;
    font-weight: bold;
}
a:hover{
    color: #00C6FF;
    text-decoration: none !important;
}
a{
    color: #00A1CF;
    text-decoration: none !important;
}
#logo{
    border-bottom: 1px dotted #393939;
    border-top: 1px dotted #393939;
    padding-bottom: 1%;
    padding-left: 6%;
    padding-top: 1%;
}
#logo img{
    width: 100%;
}
ul.unstyled, ol.unstyled {
    list-style: none;
}
footer{
    color: #fff;
    margin-bottom: 2%;
    margin-top: 5%;
    text-align: center;
}
span{
    color: #F89C0B;
}
i.twitter{
    background-image: url('../img/twitter.png');
    background-position: 52% 47%;
    background-repeat: no-repeat;
    background-size: 214%;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
i.github{
    background-image: url('../img/github.png'); 
    background-position: 52% 47%; 
    background-repeat: no-repeat; 
    background-size: 100%; 
    border-radius: 9px; 
    display: inline-block; 
    height: 14px; 
    line-height: 14px; 
    margin-top: 1px; 
    vertical-align: text-top; 
    width: 14px;
}
.fotoseccion img{
    height: 26em;
}
.carousel-control{
    margin-top: 18px !important;
}

.carousel-inner>.item>img{
    height: 26em;
}

/* Responsive */
@media (max-width: 979px) {
    .info{
        margin-top: -10% !important;
        margin-bottom: -5% !important;
    }
}